python-multipart==0.0.9
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
python-dotenv==1.0.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
librosa==0.10.1
soundfile==0.12.1
numpy==1.26.4
scipy==1.11.4
pyyaml==6.0.1
requests==2.32.3
tqdm==4.66.4
